services:
  bitfinance-api:
    image: gustmrg/bitfinance-backend:1.5.0
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING}
    restart: unless-stopped
    networks:
      - bitfinance-network
    depends_on:
      - bitfinance-db
    volumes:
      - api-logs:/app/logs

  bitfinance-db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - bitfinance-network
    restart: unless-stopped

networks:
  bitfinance-network:
    driver: bridge

volumes:
  pgdata:
  api-logs:
  worker-logs:
