services:
  bitfinance-api:
    image: gustmrg/bitfinance-backend:1.6.1
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080;http://+:8081
      - ConnectionStrings__Database=Host=bitfinance-db;Port=5432;Database=bitfinance;Username=postgres;Password=postgres
      - ConnectionStrings__Cache=bitfinance-cache:6379
      - AppSettings__CacheEnabled=false
      - AppSettings__LoggingEnabled=true
      - Logging__LogLevel__Default=Information
      - Logging__LogLevel__Microsoft.AspNetCore=Warning
      - Jwt__Key=5334ac0df952a081aec3929438b144c23d34806aa9e2df4768f68f41cd9f6351
      - Jwt__Issuer=bitfinance
      - Jwt__Audience=bitfinance
      - Jwt__ExpirationInMinutes=2880
      - Storage__LocalPath=/app/documents
    restart: unless-stopped
    networks:
      - bitfinance-network
    depends_on:
      bitfinance-db: 
        condition: service_healthy
    volumes:
      - api-logs:/app/logs
      - document-storage:/app/documents
    healthcheck:
      test: [ "CMD", "dotnet", "--info" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  bitfinance-db:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=bitfinance
    volumes:
      - data:/var/lib/postgresql/data
    networks:
      - bitfinance-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  bitfinance-network:
    driver: bridge

volumes:
  data:
  api-logs:
  document-storage:
